<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="/design/reset.css">
  <link rel="stylesheet" href="/design/skeleton.css">
  <link rel="stylesheet" href="/design/layout.css">
  <link rel="stylesheet" href="/design/style.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <style>
  navigation, footer {
    background-image: url('{{backgroundImage}}');
  }
  </style>
</head>
<body>
  {{navigation}}
  <content>
    {{body}}
  </content>
  {{footer}}
</body>
</html>
